.container {
    .row {
        .title {
            @media (max-width: 1440px) {
                text-align: center;
            }
        }

        .column {
            display: flex;
            justify-content: space-between;
            margin-top: 54px;

            transition: .3s;

            @media (max-width: 1440px) {
                flex-direction: column;
                align-items: center;
            }

            @media (max-width: 768px) {
                 margin-top: 27px;
            }
        }

        &+* {
            margin-top: 71px;

            @media (max-width: 768px) {
                margin-top: 35px;
            }
        }
    }
}