.h1 {
    font-family: StyreneAWeb-Black;
    font-size: 36px;

    @media (max-width: 768px) {
        font-size: 28px;
        font-family: StyreneAWeb-Medium;
    }
}

.h2 {
    font-size: 26px;
    font-family: StyreneAWeb-Black;

    @media (max-width: 768px) {
        font-size: 21px;
    }
}