.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        padding-top: 71px;
        text-align: center;
    }

    .programsSection {
        margin-top: 89px;
    }


}