@font-face {
  font-family: StyreneAWeb-Light;
  src: url('../fonts/StyreneAWeb-Light.eot');
  src: url('../fonts/StyreneAWeb-Light.woff') format('woff'),
    url('../fonts/StyreneAWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: StyreneAWeb-Black;
  src: url('../fonts/StyreneAWeb-Black.eot');
  src: url('../fonts/StyreneAWeb-Black.woff') format('woff'),
    url('../fonts/StyreneAWeb-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: StyreneAWeb-Regular;
  src: url('../fonts/StyreneAWeb-Regular.eot');
  src: url('../fonts/StyreneAWeb-Regular.woff') format('woff'),
    url('../fonts/StyreneAWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: StyreneAWeb-Medium;
  src: url('../fonts/StyreneAWeb-Medium.eot');
  src: url('../fonts/StyreneAWeb-Medium.woff') format('woff'),
    url('../fonts/StyreneAWeb-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}