:root {
    --border-color: #FF3535;
    --cards-text-color: #FFFFFF;
    --cards-practical-background: #FF3535;
    --module-active-background: #FF3535;
    --module-not-active-background: #F7F7F7;
    --module-active-text: #FFFFFF;
    --module-not-active-text: #262626;
    --cards-final-background:#2D2C2A;
    --corner-background: #CD1800;
}